/coremods
/crash-reports
icon.png
/ldlib
/local
/logs
/modernfix
/mods
observable_announce
options.txt
/patchouli_books
patchouli_data.json
realms_persistence.json
/resourcepacks
rhino.local.properties
/saves
/schematics
/screenshots
/server-resource-packs
servers.dat
servers.dat_old
shaderpacks
usercache.json
usernamecache.json
/XaeroWaypoints*
/XaeroWorldMap
.vscode
kubejs/server_scripts/debug/
kubejs/server_scripts/jsconfig.json
kubejs/startup_scripts/debug/
kubejs/startup_scripts/jsconfig.json
kubejs/client_scripts/debug/
kubejs/client_scripts/jsconfig.json
kubejs/config/probejs.json
kubejs/config/modpack_config.json
kubejs/jsconfig.json
kubejs/documentation/
kubejs/probe/
/local
.idea
node_modules/
package-lock.json
.eslintrc
package.json
node-tail.js
/icon-exports-x32
.probe
ESM
texturepacks
ldlib
ds_private_storage.json
keys.txt
/.mixin.out
/blueprints
/journeymap
/simplebackups
/kubejs/CustomPackSettings.json
kubejs/assets/ponderjs_generated/lang/en_us.json
TrashSlotSaveState.json